{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="notes_list_heading text-center mb-5">
            <h1 class="'fs-4">Welcome To Your Journal</h1>
        </div> 
    </div>
</div>
<div class="row">
    {% for note in notes %}
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-header">
                {{note.title}}
            </div>
            <div class="card-body">
                <p>{{note.text|truncatechars:10}}</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'notes.detail' pk=note.id %}" class="btn btn-info btn-5m">View Writing</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

    <ul>
       
        <li class="note-li"></li>
        
    </ul>

{% endblock %}

    
